* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
}

body {
    width: 90%;
    font-family: arial;
    margin: 10px 10px 10px 5px;
    background: #f4f7f8;
    padding: 20px 20px;
    color: #050505;
}

label {
    width: 20%;
    display: inline-block;
    text-align: left;
}

fieldset {
    border-radius: 5px;
    margin: 30px 30px;
    padding: 10px 10px;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    background-color: #ffff;
    margin: 10px;
}

input[type="radio"] {
    margin: 10px 20px;
}

input[type="submit"] {
    position: relative;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #16a085;
    border-radius: 2px;
    margin-top: 10px;
    width: 100%;
}

table thead tr th {
    color: teal;
}

table tbody tr th {
    color: teal;
}

.t,
.tt {
    border: 1px solid black;
    background-color: rgb(235, 230, 230);
}

.l,
.lt {
    border: 1px solid black;
    padding: 5px 5px;
    background-color: rgb(235, 230, 230);
}

caption {
    text-align: "top";
}

p {
    border: 2px solid black;
    text-align: justify;
    margin: auto;
    padding: 10px;
    overflow: auto;
    word-wrap: break-word;
    background-color: white;
}

header h1 {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0px 0px 10px 10px;
}

nav {
    border: 1px solid #020202;
    background-color: teal;
    box-shadow: 0px 2px 5px #1c1a19;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px solid black;
    background-color: white;
}

nav a {
    font-size: 0.9em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #220001;
    border-bottom: 0.5px solid #fcfcfc;
}

nav a:visited {
    color: #aaa;
}

a {
    text-decoration: none;
    color: red;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    color: green;
}

h1 {
    color: teal;
    font-weight: bold;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

h2 {
    color: white;
    border: 1px solid #020202;
    box-shadow: 0px 2px 5px rgb(33, 3, 90);
    background-color: red;
    font-family: Arial, Verdana, sans-serif;
}

h3 {
    color: blue;
    border: 0.5px solid #020202;
    box-shadow: 0px 2px 5px rgb(33, 3, 90);
    background-color: white;
    font-family: Arial, Verdana, sans-serif;
}

h4 {
    color: teal;
    border: 0.25px solid #020202;
    box-shadow: 0px 2px 5px rgb(33, 3, 90);
    background-color: white;
    font-family: Arial, Verdana, sans-serif;
}

.mesSections {
    display: flex;
    margin: 410px 5px;
    padding-right: 10px;
    flex-direction: column;
    justify-content: center;
    border: 5px solid rgb(33, 3, 90);
    background-color: #f4f7f8;
    box-shadow: 0px 2px 5px #1c1a19;
    font-family: Arial, Verdana, sans-serif;
}

footer {
    margin: 50px 30px;
    font-family: Arial, Verdana, sans-serif;
}

.mesArticles {
    margin: 15px 10px 15px 10px;
    box-shadow: 0px 2px 5px #1c1a19;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

.titre_mesArticles {
    margin: 15px 10px 15px 10px;
}

#moi,
#pageAccueil,
#languages,
#designGraphic,
#moVid,
#webEtDesktop,
#formulaire,
#reference {
    margin: 15px 0px 0px 15px;
    text-align: center;
}

.sousTitre_mesArticles {
    margin: 15px 10px 15px 10px;
}

.debutArticl1e {
    margin: 15px 10px 15px 10px;
}

.articleImage {
    float: right;
}

.pp {
    position: absolute;
    left: 500px;
    right: 250px;
    top: 250px;
}

.sousTitre_mesArticles {
    margin: 15px 10px 15px 10px;
}

.texteArticle {
    margin: 15px 10px 15px 10px;
}

.infosComplementaires {
    margin: 15px 10px 15px 10px;
    box-shadow: 0px 2px 5px #1c1a19;
    border: 0.5px solid orange;
}

.titre_infosComplementaires {
    margin: 15px 10px 15px 10px;
}

@media screen and (max-device-width: 393px) and (min-device-width: 344px) and (max-device-height: 882px) and (min-device-height: 667px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    body {
        width: 343px;
        height: 881px;
        font-size: 1.3em;
        margin-right: 10px;
    }
    .pp {
        top: 900px;
        left: 75px;
        right: 100px;
    }
    .mesSections {
        width: 342px;
        margin: 400px 20px 0px 20px;
    }
    fieldset {
        width: 250px;
    }
    .tt {
        width: 30px;
    }
    .l {
        width: 300px;
        margin-right: 10px;
    }
    .lt {
        margin-right: 10px;
    }
}

@media screen and (max-device-width: 540px) and (min-device-width: 412px) and (max-device-height: 932px) and (min-device-height: 720px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    body {
        width: 411px;
        height: 930px;
        font-size: 1.3em;
        margin-right: 10px;
    }
    .pp {
        top: 690px;
        left: 75px;
        right: 100px;
    }
    .mesSections {
        width: 410px;
        margin: 400px 20px 0px 20px;
    }
    fieldset {
        width: 300px;
    }
    .tt {
        width: 30px;
    }
    .l {
        width: 300px;
        margin-right: 10px;
    }
    .lt {
        margin-right: 10px;
    }
}

@media screen and (max-device-width: 768px) and (min-device-width: 600px) and (max-device-height: 1024px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    body {
        width: 598px;
        height: 1022px;
        font-size: 1.4em;
        margin-right: 10px;
    }
    .pp {
        top: 900px;
        left: 75px;
        right: 100px;
    }
    .mesSections {
        width: 590px;
        margin: 400px 20px 0px 20px;
    }
    fieldset {
        width: 540px;
    }
    .tt {
        width: 30px;
    }
    .l {
        width: 300px;
        margin-right: 10px;
    }
    .lt {
        margin-right: 10px;
    }
}

@media screen and (max-device-width: 912px) and (min-device-width: 800px) and (max-device-height: 1368px) and (min-device-height: 1180px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    body {
        width: 799px;
        height: 1366px;
        font-size: 1.5em;
        margin-right: 10px;
    }
    .pp {
        top: 400px;
        left: 200px;
        right: 100px;
    }
    .mesSections {
        width: 750px;
        margin: 400px 20px 0px 20px;
    }
    fieldset {
        width: 600px;
    }
    .tt {
        width: 30px;
    }
    .l {
        width: 300px;
        margin-right: 10px;
    }
    .lt {
        margin-right: 10px;
    }
}

@media screen and (max-device-width: 1280px) and (min-device-width: 1024px) and (max-device-height: 1366px) and (min-device-height: 600px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    body {
        width: 1022px;
        height: 1364px;
        font-size: 1.6em;
        margin-right: 10px;
    }
    .pp {
        top: 380px;
        left: 300px;
        right: 100px;
    }
    .mesSections {
        width: 1000px;
        margin: 400px 20px 0px 20px;
    }
    fieldset {
        width: 900px;
    }
    .tt {
        width: 30px;
    }
    .l {
        width: 300px;
        margin-right: 10px;
    }
    .lt {
        margin-right: 10px;
    }
}